sudo: false
language: ruby
cache: bundler
rvm:
- 2.2.2
install:
- bundle install
script: bundle exec rake site:deploy --quiet

env:
  global:
    secure: "bJ/if7+ng8/c0oUuX1T4c4hL14zn4fInke1LUXF5pTofbya+a2B4USFU0QrktQAip5lwJdGDnKk3Na/Nm3CiqtjJpvFNxDGmPb2Pyc4wcLZ2S1FoGLSUHIzJAX9shX6LwzyASqe/jQ8k80q28Cbkc3717qj8v9sHUDAcHxBSkM41E8q5YA48ca+lRyWW7mJ+isIpvLsWFSfHtlvjQHNnJI3mWT7kREoUXbZZ0ywXbnZUvHKPCi8ebGF3sg9iO4OtsHh/1rI1EEJ6Q2is76Byj8DFdcJOZl9QbVMY41aWj9ow/L9K/188b075oPTsI2MacVNLzsTAjwp9B96jr9RxzDDgxi6p56kOzcouvE0ITHiCTSU0YqfMJy5cPRDNGxjyC/0OCoSSSEUkxggeus6p1icAg1O2mXAZfVOEgWw5vRYXTkLutTiiTQlUL2qUNqVZu+9H9M1htWaRcEH+x9/ENnjzUfWP+BpdThIVtePi4OJ9UJbg13l/nR1Usa49qnlnArGGI7wHVkTuDcvSJI/FcsAvXrAi1Sk+ltJJJeX66dmtUoNT+ezGWsX2d+0j/Kwt2mXlMYJul4CKK1j/kyMSMHQgDA9dvD5nOXRAQfgdEJjovvsT/H6a1GiBlcNpIaS7vNweIjV0DlbrLNuLSznnjzmVmz5dxPxJyewzWqT//mM="
branches:
  only:
  - master