sudo: false
language: ruby
cache: bundler
rvm:
- 2.1.1
install:
- bundle install
script: bundle exec rake site:deploy --quiet

env:
  global:
    secure: GyQwhQHjmTZNS3eXDBhP8SXs6V6bD7A7+v6dbYgTqyJh2mS4mY2g+wgGY0NdHLSqFMSmQLE/juLdxJzatGl/viVzZdCIuap5MAsCS2BF12e09rLx8tcMI1su5eDVlZ36LFyMApHsxVzUGfH8p2YrSdgXc/7IAh2HdNVVbdRrln2c/swdldcTICdhp0T7bVo/eEbSDFqLlABzvDHAXzIspAHFHZ8s/1cML0VWd0vebnDJVUm4aMN9Vjlpsk0KydkBzX+40qwJPTXIN13OiHXdkWgi0LlQeGDfZXozZbf0LQ/Iy8A9T3OQER2kpbeYkkwQJExTVfZDV4n2sh1jS41THSjrNjx7lDE9JMI0hxROkgvTVt8qEkX0N/GPOeYwxFERjGGtnlczpeWwNnaKdobqtWH8x1XwFZdYRNoUcuy9RQVl3rQq+38UKRVaWG3j85qpBvj8ojTNpEGDS2caKSaJs7dk6pWuGMrMbvU8rEsn/NsRR9A4oEIxGwK27cLF/1p27f5IKsPfoSqiVlCjv+H7aSgjYsPQNBkPZG9Pb7rixPDntA41tY6JMWh6V3rHZybtT+Dpv3bAhTbXZOrP7tD/BzriyA3OuI8r+jdblci/5nK4XhD9AKa2sMU3O3j5QMuLECEikptNMT9jTx0lvwpMBPcf8hfWtIUVpNQu46+2n6w=
branches:
  only:
  - master